a,
p,
input,
span,
button {
  font-family: Poppins Regular;
  font-size: 14px !important;
}

html {
  scroll-behavior: smooth;
}

.header {
  height: 60px;
}

.header__logo {
  height: 40px;
}

.carousel-item img {
  max-height: 300px;
}

.music {
  border: 1px solid rgb(190, 190, 190);
  border-radius: 5px;
}

.song_artist {
  color: gray;
}

.music_button {
  cursor: pointer;
  font-size: 20px;
}

.whole_container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.showcase {
  width: 100%;
  min-height: 300px;
  background: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)),
    url(../img/1.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroText {
  color: #fff;
  font-family: Poppins Black;
}

.black-color {
  color: #000;
}

/* Button */
.button,
.active {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400 !important;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff !important;
  cursor: pointer;
  display: inline-flex;
  font-family: Poppins Regular;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  /* transition: all 250ms; */
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button:hover,
.button:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button:hover {
  transform: translateY(-1px);
  text-decoration: none;
}

.button:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}
